img{
    width: 75px;
    height: 23px;
}

.a{
    width: 25px;
    height: 20px;
}

.boton{
    line-height: 16px;
    z-index: 0;
    text-overflow: ellipsis;
    margin-left: 405px;
    height: 38px;
    border-radius: 12px;
    padding: 0px 10px;
    color: #111;
}
.b{
    width: 634px;
    height: 500px;
}

.Encabezado{
    background-image: url(videoplayback.mp4);
    height: 200px; 
    background-size: cover; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; color:#fff;
}